@import '_variable.scss';
@import '_mixin.scss';

// Général

body {
    font-family: 'Mukta', sans-serif;
    background: #f5f2f2;
    margin: 0;
    padding: 0;
}

header, footer, .btn__nextime {
    background-color: $bg_color;
}

footer a, .btn__nextime a, header a {
    color: $text_color;
}

h3 {
    margin: 0;
}

a {
    text-decoration: none;
}


// Header


header h1 {
    text-align: center;
    font-size: 3rem;
    height: 100px;
    padding-top: 25px;
    margin-top: 0;
    letter-spacing: -4px;
}


// Menus


.principale {
    margin: auto;
    max-width: 1200px;
    @include mobile {
        max-width: none;
    }
    @include tablet {
        max-width: none;
    }
    @include desktop {
        max-width: 1024px;
    }
    
}

.menu, .menu__lien, .menu-prev {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    text-align: center;
    flex-flow: row wrap;
    @include mobile {
        display: block; 
        width: 100%;   
    }

    .menu__lien, .menu-prev {
        flex-direction: column;
    }

    .menu__lien {
        @include mobile {
            margin: 25px 0;
            width: 100%;
            height: 250px;
        }
        @include tablet {
            margin: 25px 0;
            width: 90%;
            height: 350px;
        }
        @include desktop {
            margin: 2%;
        }
        @include desktop_4k {
            margin: 4.1%;
        }
    }

    .menu-prev {
        min-height: 450px;
        height: 450px;
        width: 350px;
        box-shadow: 0px 0px 10px 0px rgba(177, 171, 170, 0.75);
        margin: 6.3%;
        @include mobile {
            min-height: 250px;
        }
        @include tablet {
            width: 90%;
            min-height: 350px;
        }

        & h2 {
            font-size: 2rem;
            @include mobile {
                font-size: 1.5rem;
            }
        }
        
        & h3 {
            font-size: 2rem;
            margin-top: 5px;
            @include mobile {
                font-size: 1.8rem;
            }
        }


        //    Menu top left


        &--enchantee {
            background-color: #fcdfda;
            @include menu_enchantee;
            }

        &--enchantee img {
            @include mobile {
                height: 50px;
            }
                
            }


        //      Menu top right

                
        &--french {
            background-color: #fef5fd;
            @include menu_french;
            }

        &__title--french {
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-image: -webkit-linear-gradient(left, #e48435 25%, #763f96 ,#4e68db);
            }


        //     Menu bottom left


        &--delice {
            background-color: #f9f9f9;
            @include menu_delice;
            }

        &__title--delice {
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-image: -webkit-linear-gradient(left, #0e2b8a 5%, #209ae0);
                }


        //      Menu bottom right


        &--palet {
            background-color: #fdfffd;
            @include menu_palet;
            }

        &__title--palet {
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-image: -webkit-linear-gradient(left, #32850b 25%, #94e60f);
            }
        }
    }


    // Menu anim
    

.anim_scale {
    transform: scale(1);
    transition: transform 300ms;
    width: 250px;
    &:hover {
        transform: scale(1.25);
    }
}

.anim_scale img, .anim_scale h2, .anim_scale h3 {
    transform: scale(1);
    transition: transform 300ms;
    &:hover {
        transform: scale(1.15);
    }
}


// BTN next_time


.btn__nextime {
    margin: 100px auto;
    border-radius: 8px;
    font-size: 2rem;
    padding: 10px 45px;
    height: 50px;
    line-height: 50px;
    display: flex;
    justify-content: center;
    width: 320px;
    @include mobile {
        width: 90%;
        font-size: 1.5rem;
        padding: 3px;
        margin: 30px auto 90px;
    }

    // BTN anim


    span {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        margin: 5px;
        margin-top: 25px;
        animation: dot 0.8s infinite alternate;
        background-color: $text_color;
    }

    .un {
        animation-delay: 150ms;
    }

    .deux {
        animation-delay: 450ms;
    }

    .trois {
        animation-delay: 750ms;
    }

    @keyframes dot {
        from {
            transform: translateY(3px);
            opacity: 0.2;
        }

        to {
            opacity: 1;
        }

    }
}
// Footer


footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 90px;
    font-size: 1.8rem;
    @include mobile {
        flex-direction: column;
        height: 80px;
        justify-content: start;
        line-height: 2rem;
    }
    @include tablet {
        line-height: 3rem;
    }

    & h5 {
        margin: 20px 55px;
        font-size: 1.8rem;
        @include mobile {
            font-size: 1.5rem;
            margin: 5px;
            text-align: center;
        }
        @include tablet {
            margin: 10px 25px;
            font-size: 1.5rem;
        }
    }
   

    // Footer anim


    & h5:hover {
        animation: wizz 0.2s infinite alternate;
    }
}

@keyframes wizz {
    from {
        transform: rotate(8deg);
    }

    to {
        transform: rotate(-8deg);
    }
}


////////////////

// Menus

///////////////


// Menu Général 


.title__menu {
    text-align: center;
    font-size: 2rem;
    color: #333;
}

ul {
    list-style: none;
    padding-left: 10%;
    padding-right: 10%;
}

.menu__structure {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 100px;
    @include tablet {
        padding: 20px;
    }
    @include desktop {
        width: 70%;
    }
    @include desktop_4k{
        width: 60%;
    }
}


// Title Top


.menu__restau {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;

    @include mobile {
        font-size: 1.5rem;
    }

        & h2 {
            margin-top: 0;
        }
    
        & img {
            width: 70px;
            height: 70px;
            margin-top: 25px;
            margin-bottom: 0;
            @include mobile {
                width: 40px;
                height: 40px;
            }
        }
}

// titre menu + anim h3

.title__prev {
    display: flex;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
    @include mobile {
        margin: 0;
    }
    @include tablet {
        margin: auto;
        margin-bottom: 25px;
    }

    & img {
        height: 10px;
        width: 27%;
        margin: 40px;
        margin-right: 50px;
        @include mobile {
            margin: auto;
            height: 10px;
            width: 15%;            
        }
        @include tablet {
            margin: auto;
            height: 10px;
        }
    }
    
    // Anim h3

    &--enchantee, &--french-entree, &--french-principal, &--french-dessert, &--delice, &--palet {
        font-size: 2.1rem;
        margin: auto;
        margin-top: 13px;
        position: relative;
        cursor: default;
        @include mobile {
            margin: 0;
        }
    
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 3px;
            left: 50%; // centrer le trait
            transform: translateX(-50%) scaleX(0); //translate = faire glisser le trait scaleX le fait disparaître
            transform-origin: 50% 50%; //partir du centre 1 = gauche 2 = droite
            transition: transform 250ms;
        }
    
        &:hover {
            &::after {
                transform: translateX(-50%) scaleX(1);  //translate = faire glisser le trait scaleX le fait disparaître
            }
        }
    }
}

// anim couleur h3 enchantee
.title__prev--enchantee::after {
        background-color: #791717;
    }
   
// anim couleur h3 french entrée, plat, dessert
.title__prev--french-entree::after {
    background-color: #c67412;
}
.title__prev--french-principal::after {
    background-color: #a56799;
}
.title__prev--french-dessert::after {
    background-color: #6e4ccc;
}

// anim couleur h3 delice
.title__prev--delice::after {
    background-color: #0e2b8a;
}

// anim couleur h3 palet
.title__prev--palet::after {
    background-color: #32850b;
}


// Section Menu

h4 {
    margin: 0;
}

.menu__content {
    font-size: 1.6rem;
    font-weight: normal;
    @include mobile {
        text-align: center;
        margin-bottom: 15px;
        padding: 0;
    }
    @include tablet {
        margin: 0;
        margin-bottom: 15px;
    }

    & li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
        @include mobile {
            flex-direction: column;
        }
    }

    & h4 {
        font-weight: normal;
        width: 80%;
    }
}

.price {
    text-align: right;
    width: 10%;
}

// Menu Enchantee

.menu__enchantee {
    background-color: #fcdfda;
    @include menu_enchantee;
}

.nom__restau--bottom {
    display: flex;
    justify-content: center;
    padding-bottom: 25px;
    @include mobile {
        display: block;
        text-align: center;
        padding-bottom: 15px;
    }

    & img {
        width: 45px;
        height: 45px;
        margin-top: 15px;
        margin-right: 20px;
        @include mobile {
            margin: 0;
        }
    }
    
    & h2 {
        font-size: 2.8rem;
        margin: 0;
        padding: 3px;
    }
    
}


// French Menu

.menu__french {
    background-color: #fff5fe;
    @include menu_french;
}

.menu__principal--french {
    color: #a56799;
}

.menu__dessert--french {
    color: #6e4ccc;
}

.menu__restau--french {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(left, #e48435 25%, #763f96 ,#4e68db);
    padding-top: 35px;
}


// Menu Delice

.menu__delice {
    background-color: #edefef;
    @include menu_delice;
    color: #202020;
}

.menu__restau--delice {
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: -webkit-linear-gradient(left, #0e2b8a 5%, #209ae0);
        padding-top: 35px;
}

.title__prev--delice, .title__prev--palet {
    padding-top: 8px;
}


// Menu Palet

.menu__palet {
    background-color: #fdfffd;
    @include menu_palet;
    color: #343534;
}

.menu__restau--palet {
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: -webkit-linear-gradient(left, #32850b 25%, #94e60f);
        padding-top: 35px;
}


// Mentions Légales


h6, p, .mention_legale {
    text-align: center;
}

h6 {
    font-size: 2rem;
    color: #444;
    
}

p {
    width: 90%;
    margin: auto;
    @include mobile {
        text-align: justify
    }
}

.last {
    margin-bottom: 150px;
}