body {
  font-family: "Mukta", sans-serif;
  background: #f7e8e8;
  margin: 0;
  padding: 0;
  width: auto;
  max-width: 100%;
  min-width: 1300px;
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  body {
    width: fit-content;
  }
}
@media screen and (min-width: 426px) and (max-width: 1023px) {
  body {
    width: fit-content;
  }
}

header, footer, .btn__nextime {
  background-color: #569c87;
}

.menu-prev__menu a, .menu-prev__title--enchantee a {
  text-decoration: none;
}

footer a, .btn__nextime a, header a {
  text-decoration: none;
  color: #eac450;
}

h3 {
  margin: 0;
}

.title__prev {
  display: flex;
  margin-bottom: 15px;
  font-weight: bold;
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  .title__prev {
    flex-direction: column;
    margin: 0;
    text-align: center;
  }
}

.title__prev img {
  height: 10px;
  margin: 40px;
  margin-right: 50px;
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  .title__prev img {
    margin: 10px;
  }
}

.title__prev h3 {
  font-size: 2.2rem;
  margin: auto;
  margin-top: 13px;
  position: relative;
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  .title__prev h3 {
    margin: 0;
  }
}
.title__prev h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #791717;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: 0% 100%;
  transition: transform 250ms;
}
.title__prev h3:hover::after {
  transform: translateX(-50%) scaleX(1);
}

header h1 {
  text-align: center;
  font-size: 3rem;
  height: 100px;
  padding-top: 25px;
  margin-top: 0;
}

.menu__restau {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  .menu__restau {
    font-size: 1.5rem;
  }
}

.menu__restau img {
  width: 70px;
  height: 70px;
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  .menu__restau img {
    width: 40px;
    height: 40px;
  }
}

.menu {
  background-color: #fcdfda;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  color: #791717;
  font-family: "Shadows Into Light", cursive;
  padding: 80px;
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  .menu {
    padding: 40px;
  }
}
@media screen and (min-width: 426px) and (max-width: 1023px) {
  .menu {
    padding: 20px;
  }
}

.menu__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3px 0 70px;
  width: 100%;
  max-width: 950px;
  font-size: 1.8rem;
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  .menu__content {
    display: block;
    margin: 0;
    text-align: center;
  }
}

h5, p {
  margin: 0;
  margin-bottom: 20px;
}

.menu__content__deux h5 {
  padding-left: 13px;
}

.menu__entree {
  padding-left: 13px;
}

.menu__content--dessert {
  width: 68%;
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  .menu__content--dessert {
    width: 100%;
  }
}

.menu__content__entree {
  padding-left: 13px;
  width: 94%;
}

.nom__restau--bottom {
  display: flex;
  justify-content: center;
}

.nom__restau--bottom img {
  width: 50px;
  height: 50px;
  margin-top: 55px;
  margin-right: 20px;
}

.nom__restau--bottom h2 {
  font-size: 2.8rem;
}

.btn__nextime {
  margin: 25px auto;
  border-radius: 8px;
  font-size: 2rem;
  padding: 10px 45px;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: center;
  width: 380px;
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  .btn__nextime {
    width: 200px;
    font-size: 1.2rem;
  }
}

span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 5px;
  margin-top: 25px;
  animation: dot 0.8s infinite alternate;
  background-color: #eac450;
}

.un {
  animation-delay: 150ms;
}

.deux {
  animation-delay: 450ms;
}

.trois {
  animation-delay: 750ms;
}

@keyframes dot {
  from {
    transform: translateY(3px);
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
footer {
  display: flex;
  justify-content: space-between;
  height: 120px;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 5rem;
  font-weight: bold;
}

footer h4 {
  margin: 20px 55px;
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  footer h4 {
    font-size: 1.5rem;
    margin: 10px 25px;
  }
}
@media screen and (min-width: 426px) and (max-width: 1023px) {
  footer h4 {
    margin: 10px 25px;
    font-size: 1.5rem;
  }
}

footer h4:hover {
  animation: wizz 0.2s infinite alternate;
}

@keyframes wizz {
  from {
    transform: rotate(8deg);
  }
  to {
    transform: rotate(-8deg);
  }
}

/*# sourceMappingURL=enchantee.css.map */
