body {
  font-family: "Mukta", sans-serif;
  background: #f5f2f2;
  margin: 0;
  padding: 0;
}

header, footer, .btn__nextime {
  background-color: #569c87;
}

footer a, .btn__nextime a, header a {
  color: #eac450;
}

h3 {
  margin: 0;
}

a {
  text-decoration: none;
}

header h1 {
  text-align: center;
  font-size: 3rem;
  height: 100px;
  padding-top: 25px;
  margin-top: 0;
  letter-spacing: -4px;
}

.principale {
  margin: auto;
  max-width: 1200px;
}
@media screen and (max-width: 425px) {
  .principale {
    max-width: none;
  }
}
@media screen and (min-width: 426px) and (max-width: 1023px) {
  .principale {
    max-width: none;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .principale {
    max-width: 1024px;
  }
}

.menu, .menu__lien, .menu-prev {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  text-align: center;
  flex-flow: row wrap;
}
@media screen and (max-width: 425px) {
  .menu {
    display: block;
    width: 100%;
  }
}
.menu .menu__lien, .menu .menu-prev {
  flex-direction: column;
}
@media screen and (max-width: 425px) {
  .menu .menu__lien {
    margin: 25px 0;
    width: 100%;
    height: 250px;
  }
}
@media screen and (min-width: 426px) and (max-width: 1023px) {
  .menu .menu__lien {
    margin: 25px 0;
    width: 90%;
    height: 350px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .menu .menu__lien {
    margin: 2%;
  }
}
@media screen and (min-width: 1440px) {
  .menu .menu__lien {
    margin: 4.1%;
  }
}
.menu .menu-prev {
  min-height: 450px;
  height: 450px;
  width: 350px;
  box-shadow: 0px 0px 10px 0px rgba(177, 171, 170, 0.75);
  margin: 6.3%;
}
@media screen and (max-width: 425px) {
  .menu .menu-prev {
    min-height: 250px;
  }
}
@media screen and (min-width: 426px) and (max-width: 1023px) {
  .menu .menu-prev {
    width: 90%;
    min-height: 350px;
  }
}
.menu .menu-prev h2 {
  font-size: 2rem;
}
@media screen and (max-width: 425px) {
  .menu .menu-prev h2 {
    font-size: 1.5rem;
  }
}
.menu .menu-prev h3 {
  font-size: 2rem;
  margin-top: 5px;
}
@media screen and (max-width: 425px) {
  .menu .menu-prev h3 {
    font-size: 1.8rem;
  }
}
.menu .menu-prev--enchantee {
  background-color: #fcdfda;
  color: #791717;
  font-family: "Shadows Into Light", cursive;
}
@media screen and (max-width: 425px) {
  .menu .menu-prev--enchantee img {
    height: 50px;
  }
}
.menu .menu-prev--french {
  background-color: #fef5fd;
  color: #e48435;
  font-family: "Great Vibes", cursive;
}
.menu .menu-prev__title--french {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(left, #e48435 25%, #763f96, #4e68db);
}
.menu .menu-prev--delice {
  background-color: #f9f9f9;
  color: #0e2b8a;
  font-family: "Dancing Script", cursive;
}
.menu .menu-prev__title--delice {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(left, #0e2b8a 5%, #209ae0);
}
.menu .menu-prev--palet {
  background-color: #fdfffd;
  color: #32850b;
  font-family: "Satisfy", cursive;
}
.menu .menu-prev__title--palet {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(left, #32850b 25%, #94e60f);
}

.anim_scale {
  transform: scale(1);
  transition: transform 300ms;
  width: 250px;
}
.anim_scale:hover {
  transform: scale(1.25);
}

.anim_scale img, .anim_scale h2, .anim_scale h3 {
  transform: scale(1);
  transition: transform 300ms;
}
.anim_scale img:hover, .anim_scale h2:hover, .anim_scale h3:hover {
  transform: scale(1.15);
}

.btn__nextime {
  margin: 100px auto;
  border-radius: 8px;
  font-size: 2rem;
  padding: 10px 45px;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: center;
  width: 320px;
}
@media screen and (max-width: 425px) {
  .btn__nextime {
    width: 90%;
    font-size: 1.5rem;
    padding: 3px;
    margin: 30px auto 90px;
  }
}
.btn__nextime span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 5px;
  margin-top: 25px;
  animation: dot 0.8s infinite alternate;
  background-color: #eac450;
}
.btn__nextime .un {
  animation-delay: 150ms;
}
.btn__nextime .deux {
  animation-delay: 450ms;
}
.btn__nextime .trois {
  animation-delay: 750ms;
}
@keyframes dot {
  from {
    transform: translateY(3px);
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 90px;
  font-size: 1.8rem;
}
@media screen and (max-width: 425px) {
  footer {
    flex-direction: column;
    height: 80px;
    justify-content: start;
    line-height: 2rem;
  }
}
@media screen and (min-width: 426px) and (max-width: 1023px) {
  footer {
    line-height: 3rem;
  }
}
footer h4 {
  margin: 20px 55px;
}
@media screen and (max-width: 425px) {
  footer h4 {
    font-size: 1.5rem;
    margin: 5px;
    text-align: center;
  }
}
@media screen and (min-width: 426px) and (max-width: 1023px) {
  footer h4 {
    margin: 10px 25px;
    font-size: 1.5rem;
  }
}
footer h4:hover {
  animation: wizz 0.2s infinite alternate;
}

@keyframes wizz {
  from {
    transform: rotate(8deg);
  }
  to {
    transform: rotate(-8deg);
  }
}
.title__menu {
  text-align: center;
  font-size: 2rem;
  color: #333;
}

ul {
  list-style: none;
}

.menu__structure {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  margin-bottom: 100px;
}
@media screen and (min-width: 426px) and (max-width: 1023px) {
  .menu__structure {
    padding: 20px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .menu__structure {
    width: 70%;
  }
}
@media screen and (min-width: 1440px) {
  .menu__structure {
    width: 60%;
  }
}

.menu__restau {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
}
@media screen and (max-width: 425px) {
  .menu__restau {
    font-size: 1.5rem;
  }
}
.menu__restau h2 {
  margin-top: 0;
}
.menu__restau img {
  width: 70px;
  height: 70px;
  margin-top: 25px;
  margin-bottom: 0;
}
@media screen and (max-width: 425px) {
  .menu__restau img {
    width: 40px;
    height: 40px;
  }
}

.title__prev {
  display: flex;
  margin-bottom: 15px;
  font-weight: bold;
  text-align: center;
}
@media screen and (max-width: 425px) {
  .title__prev {
    margin: 0;
  }
}
@media screen and (min-width: 426px) and (max-width: 1023px) {
  .title__prev {
    margin: auto;
    margin-bottom: 25px;
  }
}
.title__prev img {
  height: 10px;
  width: 27%;
  margin: 40px;
  margin-right: 50px;
}
@media screen and (max-width: 425px) {
  .title__prev img {
    margin: auto;
    height: 10px;
    width: 15%;
  }
}
@media screen and (min-width: 426px) and (max-width: 1023px) {
  .title__prev img {
    margin: auto;
    height: 10px;
  }
}
.title__prev--enchantee, .title__prev--french-entree, .title__prev--french-principal, .title__prev--french-dessert, .title__prev--delice, .title__prev--palet {
  font-size: 2.1rem;
  margin: auto;
  margin-top: 13px;
  position: relative;
  cursor: default;
}
@media screen and (max-width: 425px) {
  .title__prev--enchantee, .title__prev--french-entree, .title__prev--french-principal, .title__prev--french-dessert, .title__prev--delice, .title__prev--palet {
    margin: 0;
  }
}
.title__prev--enchantee::after, .title__prev--french-entree::after, .title__prev--french-principal::after, .title__prev--french-dessert::after, .title__prev--delice::after, .title__prev--palet::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: 50% 50%;
  transition: transform 250ms;
}
.title__prev--enchantee:hover::after, .title__prev--french-entree:hover::after, .title__prev--french-principal:hover::after, .title__prev--french-dessert:hover::after, .title__prev--delice:hover::after, .title__prev--palet:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.title__prev--enchantee::after {
  background-color: #791717;
}

.title__prev--french-entree::after {
  background-color: #c67412;
}

.title__prev--french-principal::after {
  background-color: #a56799;
}

.title__prev--french-dessert::after {
  background-color: #6e4ccc;
}

.title__prev--delice::after {
  background-color: #0e2b8a;
}

.title__prev--palet::after {
  background-color: #32850b;
}

.menu__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3px 0 70px;
  max-width: 950px;
  font-size: 1.8rem;
}
@media screen and (max-width: 425px) {
  .menu__content {
    display: block;
    margin: 0;
    text-align: center;
    margin-bottom: 15px;
    padding: 0;
  }
}
@media screen and (min-width: 426px) and (max-width: 1023px) {
  .menu__content {
    display: block;
    margin: 0;
    margin-bottom: 15px;
  }
}

.plat {
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 0 15px 0 15px;
}
@media screen and (max-width: 425px) {
  .plat {
    flex-direction: column;
    padding: 5px;
    margin-top: 15px;
    width: 100%;
  }
}
@media screen and (min-width: 426px) and (max-width: 1023px) {
  .plat {
    padding: 25px 0;
  }
}

.price {
  margin-bottom: 15px;
}

@media screen and (max-width: 425px) {
  .plat__dessert--no_price {
    padding: 0;
  }
}
.plat__dessert--no_price li {
  padding: 13px;
}

.menu__enchantee {
  background-color: #fcdfda;
  color: #791717;
  font-family: "Shadows Into Light", cursive;
}

.nom__restau--bottom {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}
@media screen and (max-width: 425px) {
  .nom__restau--bottom {
    display: block;
    text-align: center;
    padding-bottom: 15px;
  }
}
.nom__restau--bottom img {
  width: 45px;
  height: 45px;
  margin-top: 15px;
  margin-right: 20px;
}
@media screen and (max-width: 425px) {
  .nom__restau--bottom img {
    margin: 0;
  }
}
.nom__restau--bottom h2 {
  font-size: 2.8rem;
  margin: 0;
  padding: 3px;
}

.menu__french {
  background-color: #fff5fe;
  color: #e48435;
  font-family: "Great Vibes", cursive;
}

.menu__principal--french {
  color: #a56799;
}

.menu__dessert--french {
  color: #6e4ccc;
}

.menu__restau--french {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(left, #e48435 25%, #763f96, #4e68db);
  padding-top: 35px;
}

.menu__delice {
  background-color: #edefef;
  color: #0e2b8a;
  font-family: "Dancing Script", cursive;
  color: #202020;
}

.menu__restau--delice {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(left, #0e2b8a 5%, #209ae0);
  padding-top: 35px;
}

.title__prev--delice, .title__prev--palet {
  padding-top: 8px;
}

.menu__palet {
  background-color: #fdfffd;
  color: #32850b;
  font-family: "Satisfy", cursive;
  color: #343534;
}

.menu__restau--palet {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(left, #32850b 25%, #94e60f);
  padding-top: 35px;
}

h6, p, .mention_legale {
  text-align: center;
}

h6 {
  font-size: 2rem;
  color: #444;
}

p {
  width: 90%;
  margin: auto;
}
@media screen and (max-width: 425px) {
  p {
    text-align: justify;
  }
}

.last {
  margin-bottom: 150px;
}

/*# sourceMappingURL=style.css.map */
