body {
  font-family: "Mukta", sans-serif;
  background: #f7e8e8;
  margin: 0;
  padding: 0;
}

header, footer, .btn__nextime {
  background-color: #569c87;
}

.menu-prev__menu a, .menu-prev__title--enchantee a {
  text-decoration: none;
}

footer a, .btn__nextime a, header a {
  text-decoration: none;
  color: #eac450;
}

h3 {
  margin: 0;
}

header h1 {
  text-align: center;
  font-size: 3rem;
  height: 100px;
  padding-top: 25px;
  margin-top: 0;
}

.principale {
  margin: auto;
  max-width: 1200px;
}
@media screen and (max-width: 425px) {
  .principale {
    max-width: none;
  }
}
@media screen and (min-width: 426px) and (max-width: 1023px) {
  .principale {
    max-width: none;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .principale {
    max-width: 1024px;
  }
}

.menu {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
@media screen and (max-width: 425px) {
  .menu {
    display: block;
    width: 100%;
  }
}
.menu .menu-prev {
  min-height: 450px;
  height: 450px;
  width: 350px;
  box-shadow: 0px 0px 10px 0px rgba(177, 171, 170, 0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 6.3%;
}
@media screen and (max-width: 425px) {
  .menu .menu-prev {
    margin: 25px 0;
    width: 100%;
    height: 250px;
    min-height: 250px;
  }
}
@media screen and (min-width: 426px) and (max-width: 1023px) {
  .menu .menu-prev {
    margin: 25px 0;
    width: 90%;
    height: 350px;
    min-height: 350px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .menu .menu-prev {
    height: 450px;
    width: 350px;
    margin: 2%;
  }
}
@media screen and (min-width: 1440px) {
  .menu .menu-prev {
    height: 450px;
    width: 350px;
    margin: 4.1%;
  }
}
.menu .menu-prev__menu {
  font-size: 2rem;
  margin-top: 5px;
}
@media screen and (max-width: 425px) {
  .menu .menu-prev__menu {
    font-size: 1.8rem;
  }
}
.menu .menu-prev__title {
  margin-top: 45px;
  font-size: 2rem;
}
@media screen and (max-width: 425px) {
  .menu .menu-prev__title {
    font-size: 1.8rem;
  }
}
.menu .menu-prev--enchantee, .menu .menu-prev__menu--enchantee a, .menu .menu-prev__title--enchantee a {
  background-color: #fcdfda;
  color: #791717;
  font-family: "Shadows Into Light", cursive;
}
.menu .menu-prev__title--enchantee {
  margin-top: 10px;
}
.menu .menu-prev--french, .menu .menu-prev__menu--french a {
  background-color: #fef5fd;
  color: #e48435;
  font-family: "Great Vibes", cursive;
}
.menu .menu-prev__title--french {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(left, #e48435 25%, #763f96, #4e68db);
}
.menu .menu-prev--delice, .menu .menu-prev__menu--delice a {
  background-color: #f9f9f9;
  color: #0e2b8a;
  font-family: "Dancing Script", cursive;
}
.menu .menu-prev__title--delice {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(left, #0e2b8a 5%, #209ae0);
}
.menu .menu-prev--palet, .menu .menu-prev__menu--palet a {
  background-color: #fdfffd;
  color: #32850b;
  font-family: "Satisfy", cursive;
}
.menu .menu-prev__title--palet {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(left, #32850b 25%, #94e60f);
}

.anim_scale {
  transform: scale(1);
  transition: transform 300ms;
  width: 250px;
}
.anim_scale:hover {
  transform: scale(1.25);
}

.menu-prev__title, .menu-prev__menu {
  transform: scale(1);
  transition: transform 300ms;
}
.menu-prev__title:hover, .menu-prev__menu:hover {
  transform: scale(1.15);
}

.btn__nextime {
  margin: 25px auto;
  border-radius: 8px;
  font-size: 2rem;
  padding: 10px 45px;
  height: 50px;
  line-height: 50px;
  display: flex;
  justify-content: center;
  width: 320px;
}
@media screen and (max-width: 425px) {
  .btn__nextime {
    width: 90%;
    font-size: 1.5rem;
    padding: 3px;
  }
}

span {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin: 5px;
  margin-top: 25px;
  animation: dot 0.8s infinite alternate;
  background-color: #eac450;
}

.un {
  animation-delay: 150ms;
}

.deux {
  animation-delay: 450ms;
}

.trois {
  animation-delay: 750ms;
}

@keyframes dot {
  from {
    transform: translateY(3px);
    opacity: 0.2;
  }
  to {
    opacity: 1;
  }
}
footer {
  display: flex;
  justify-content: space-between;
  height: 120px;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 5rem;
  font-weight: bold;
}
@media screen and (max-width: 425px) {
  footer {
    flex-direction: column;
    height: 140px;
    justify-content: start;
    line-height: 2rem;
    font-weight: bold;
  }
}
@media screen and (min-width: 426px) and (max-width: 1023px) {
  footer {
    line-height: 3rem;
  }
}

footer h4 {
  margin: 20px 55px;
}
@media screen and (max-width: 425px) {
  footer h4 {
    font-size: 1.5rem;
    margin: 15px;
    text-align: center;
  }
}
@media screen and (min-width: 426px) and (max-width: 1023px) {
  footer h4 {
    margin: 10px 25px;
    font-size: 1.5rem;
  }
}

footer h4:hover {
  animation: wizz 0.2s infinite alternate;
}

@keyframes wizz {
  from {
    transform: rotate(8deg);
  }
  to {
    transform: rotate(-8deg);
  }
}
ul {
  list-style: none;
}

.plat {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
@media screen and (max-width: 425px) {
  .plat {
    margin: 5px;
  }
}

.plat--dessert li {
  margin: 15px;
}

.menu__enchantee {
  width: 70%;
  margin: auto;
  background-color: #00eeff;
}

.menu__restau {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.2rem;
  color: #791717;
  font-family: "Shadows Into Light", cursive;
}
@media screen and (max-width: 425px) {
  .menu__restau {
    font-size: 1.5rem;
  }
}
.menu__restau h2 {
  margin-top: 0;
}
.menu__restau img {
  width: 70px;
  height: 70px;
  margin-top: 25px;
  margin-bottom: 0;
}
@media screen and (max-width: 425px) {
  .menu__restau img {
    width: 40px;
    height: 40px;
  }
}

.title__prev {
  display: flex;
  margin-bottom: 15px;
  font-weight: bold;
  color: #791717;
  font-family: "Shadows Into Light", cursive;
}
@media screen and (max-width: 425px) {
  .title__prev {
    flex-direction: column;
    margin: 0;
    text-align: center;
  }
}
@media screen and (min-width: 426px) and (max-width: 1023px) {
  .title__prev {
    flex-direction: column;
    margin: auto;
    margin-bottom: 25px;
  }
}
.title__prev img {
  height: 10px;
  width: 30%;
  margin: 40px;
  margin-right: 50px;
}
@media screen and (max-width: 425px) {
  .title__prev img {
    margin: auto;
    height: 10px;
    width: 80%;
  }
}
@media screen and (min-width: 426px) and (max-width: 1023px) {
  .title__prev img {
    margin: auto;
    height: 10px;
    width: 80%;
  }
}
.title__prev h3 {
  font-size: 2.1rem;
  margin: auto;
  margin-top: 13px;
  position: relative;
}
@media screen and (max-width: 425px) {
  .title__prev h3 {
    margin: 0;
  }
}
.title__prev h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: #791717;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: 0% 100%;
  transition: transform 250ms;
}
.title__prev h3:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.menu__enchantee {
  background-color: #fcdfda;
  width: 90%;
  max-width: 1000px;
  margin: auto;
  color: #791717;
  font-family: "Shadows Into Light", cursive;
}
@media screen and (max-width: 425px) {
  .menu__enchantee {
    width: 100%;
  }
}
@media screen and (min-width: 426px) and (max-width: 1023px) {
  .menu__enchantee {
    padding: 20px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .menu__enchantee {
    width: 70%;
  }
}
@media screen and (min-width: 1440px) {
  .menu__enchantee {
    width: 60%;
  }
}

.menu__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 3px 0 70px;
  width: 70%;
  max-width: 950px;
  font-size: 1.5rem;
}
@media screen and (max-width: 425px) {
  .menu__content {
    display: block;
    margin: 0;
    text-align: center;
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 426px) and (max-width: 1023px) {
  .menu__content {
    display: block;
    margin: 0;
    text-align: center;
    margin-bottom: 15px;
  }
}

.price {
  margin: 15px;
}

.menu__content__entree, .menu__content__principal {
  padding-left: 13px;
  width: 94%;
}

.menu__content--dessert {
  width: 68%;
  padding: 13px;
}
@media screen and (max-width: 425px) {
  .menu__content--dessert {
    width: 85%;
    padding-left: 0;
  }
}
@media screen and (min-width: 426px) and (max-width: 1023px) {
  .menu__content--dessert {
    width: 85%;
    padding-left: 0;
  }
}

.nom__restau--bottom {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}
@media screen and (max-width: 425px) {
  .nom__restau--bottom {
    display: block;
    text-align: center;
    padding-bottom: 15px;
  }
}

.nom__restau--bottom img {
  width: 45px;
  height: 45px;
  margin-top: 15px;
  margin-right: 20px;
}
@media screen and (max-width: 425px) {
  .nom__restau--bottom img {
    margin: 0;
  }
}

.nom__restau--bottom h2 {
  font-size: 2.8rem;
  margin: 0;
  padding: 3px;
}

/*# sourceMappingURL=style.css.map */
